body {
    background: #eee;
}

.velcome {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
      padding: 10px 20px;
      text-decoration: none;
  border-radius: 5px;
  height: 60px;
  transition: all 0.5s;
}

.MTC {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
      padding: 10px 20px;
      text-decoration: none;
  border-radius: 5px;
  height: 60px;
  transition: all 0.5s;
}

.velcome:hover {
    color: #000;
    background-color: #fff;
    border:1px solid #000;
}

.MTC:hover {
    color: #000;
    background-color: #fff;
    border:1px solid #000;
}


#map {
     width: 600px;
     height:400px;
     margin-right:150px;
     border: 10px solid #ddd;
     border-radius:15px;
     float:right;
     margin-bottom:200px;
}

