body {
    background: #eee;
}

.container_progress {
    position: relative;
    top: 100px;
}

.container_progress > p {
    text-align: center;
    font-weight: 500;

}

.container_progress > i {
    position: absolute;
    width: 500px;
    height:400px;
    left: 180px;
    top: 160px;
    font-size: 25px;
    font-weight: 400;
}

.container_progress > p > i  {
        font-weight: 300;
        position: absolute;
        top: 240px;
        left: 400px;
        font-size: 20px;

}

.container_progress > p > img {
    position: relative;
    width: 500px;
    height:400px;
    left: 400px;
    border-radius: 45%;
    border:10px solid #fff;
    box-shadow: 10px 10px 5px #ddd;
}

.info_text {
    padding-top: 30px;
    font-weight: 400;
    font-size:20px;
}
.document_info {

    margin-left: 40px;
    width:400px;
    height:300px;
    border: 3px solid #ddd;
    border-radius: 15px;
    text-align: center;
}

.document_info > p > a {
    color: #323332;
    border: 4px solid #ddd;
    border-radius: 15px;
    padding: 4px;


}

.container_files {
   display: inline-block;
}

.document_info {
        display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 350px;
    height: 500px;
    border:2px solid #ccc;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #ddd;
     transition: all 0.5s;
}

.document_info:hover {
    transform: scale(1.07);
    border:6px solid #ddd;
}