{% extends 'institution_page/base.html' %}
    {% load static %}
    {%block link%}
                  <link type="text/css" href="{% static 'institution_page/css/info_list.css' %}"  rel="stylesheet" />
    {%endblock%}


{% block content %}
<div class="container_info">
    <p>Информация для будущих учащихся</p>
    <span>Рады будем видеть Вас!</span>
    <i>Образовательный процесс функционирует в рамках модели «Школа 3.0», которая представляет тесную связь образования, науки и инновационного предпринимательства.</i>
    <p><img src="{% static 'institution_page/img/application_2.jpeg' %}" alt=""></p>
    <hr>
    <p>Структура и органы управления образовательной организацией</p>
    <ul>
        <li><img src="{% static 'institution_page/img/director.png' %}" width="175px" height="175px" alt=""></li>
        <li><p class="p1"><i>Директор</i></p></li>
        <li><img src="{% static 'institution_page/img/zam.jpg' %}" width="175px" height="175px"  alt=""></li>
        <li><p class="p2"><i>Зам.директора</i></p></li>
        <li><img src="{% static 'institution_page/img/zauch.jpg' %}" width="175px" height="175px"  alt=""></li>
        <li><p class="p3"><i>Зауч по учебной работе</i></p></li>
    </ul>
    <br>
    <hr>
    <div class="info">
    <p style="padding-top: 30px;">Какие документы нужны для поступления и другие важные вопросы для будущих учащихся?</p>
    <i tyle="font-size: 16px;">Для большинства специальностей перечень документов для поступления выглядит следующим образом:</i>
        <li>заявление на имя ректора БНТУ (заполняется в вузе);</li>
        <li>оригинал документа об образовании (аттестат об общем среднем образовании или диплом о профессионально-техническом / среднем специальном
        образовании с приложением);</li>
        <li>медицинская справка о состоянии здоровья;</li>
        <li>свидетельства, подтверждающие право на льготы; 6 фотографий размером 3×4 см; документ, удостоверяющий личность (паспорт, вид на жительство).</li>
        <i style= "font-size: 16px;"><b>Важно! </b>Приемная комиссия имеет право запросить у ребёнка дополнительные документы.</i>
    <p style="padding-top: 30px;">Что делать, если какой-либо из документов утерян? </p>
        <i>Если какой-либо документ утерян, не стоит паниковать, ведь все можно восстановить.</i>

        <li>Паспорт: изготавливается заново (если нужен срочно, в администрации по месту жительства выпишут временную справку).</li>
        <li>Аттестат: за дубликатом следует обращаться в школу.</li>
        <li>Медицинская справка: нужно обратиться к терапевту за повторной выпиской.</li>
        <p style="padding-top: 30px;">Как можно оценить свои шансы на поступление?</p>
        <i style="font-size: 18px;">Определить шансы на поступление абитуриентам помогает <b>мониторинг вступительной кампании</b>. На протяжении всего периода подачи документов вузы (БНТУ в том числе) будут выкладывать промежуточные данные (план набора, количество подавших заявление, их баллы), по
            которым можно легко
            отследить, проходишь ли ты по конкурсу или стоит переподать документы на другую специальность.
        </i>
        <p style="padding-top: 30px;">Информация про стипендии и меры поддержки обучающихся</p>
        <i>Существует несколько видов стипендий: учебная, социальная, персональная, именная, стипендия Президента Республики Беларусь, специальная. Учебную стипендию получает каждый студент бюджетного отделения с хорошей успеваемостью (без наличия академических задолженностей). Для студентов, занимающихся научной деятельностью, ведущих активную общественную жизнь, успевающих учиться на отлично, предусмотрена именная, персональная стипендии, а также стипендия Президента Республики Беларусь.</i>
        <br>
        <i>Учебная стипендия:</i>
        <p><img src="{% static 'institution_page/img/step.jpg' %}" alt=""></p>
        <i>Социальная стипендия:</i>
        <p><img src="{% static 'institution_page/img/step_2.jpg' %}" alt=""></p>
        <i>Персональная стипендия:</i>
        <p><img src="{% static 'institution_page/img/step_3.jpg' %}" alt=""></p>
        <p>Меры социальной поддержки для всех категорий учащихся;</p>
        <li style="font-size:20px;">школа предоставляет горячие завтраки и обеды;</li>
        <hr>
        <li style="font-size:20px;">в период обучения в школе учащиеся имеют право на бесплатное медицинское обслуживание, в том числе в стоматологическом кабинете;</li>
        <hr>
        <li style="font-size:20px;">социальную, психологическую и правовую помощь;</li>
        <hr>
        <li style="font-size:20px;">оказывают учащимся в организации летнего отдыха;</li>
        <hr>
        <li style="font-size:20px;">трудоустройства учащихся (по мере необходимости);</li>
        <hr>
        <li style="font-size:20px;">предоставляют различные секции;</li>
        <hr>
        <li style="font-size:20px;">работа с лучшими специалитсами страны во всех областях;</li>
        <hr>
    </div>

</div>

{%endblock%}